Repository vercel/docs, pull requests merged in 2018-06, with the labels that each got.

#227 Document `static` config property
  lib/data/last-edited.json
  pages/docs/features/configuration.js
  yarn.lock
Labels: Section: Docs, Type: Improvement

#229 Adjusted documentation for new static deployments
  components/api/sections/endpoints/deployments.js
  lib/data/docs.js
  lib/data/last-edited.json
  pages/docs/deployment-types/static.js
  pages/docs/examples/static.js
Labels: Type: Improvement

#241 Fix redirect guide multi-aliases config
  pages/docs/guides/redirect.md
Labels: Section: Docs, Type: Guide, Type: Improvement

#251 Create a redirect from /docs/features/github-integration to /docs/fea…
  lib/data/last-edited.json
  pages/docs/features/github-integration.js
Labels: Section: Docs, Type: Improvement
