Repository vercel/docs, pull requests merged in 2018-05, with the labels that each got.

#173 Update FAQ about regions
  lib/data/last-edited.json
  pages/docs/other/faq.js
Labels: Section: Docs, Type: FAQ, Type: Improvement

#105 When adding a domain prefer selecting a serviceType
  components/api/sections/endpoints/domains.js
  lib/data/last-edited.json
Labels: Section: API, Type: Endpoint, Type: Improvement

#217 Add more questions to FAQ
  pages/docs/other/faq.js
Labels: Section: Docs, Type: FAQ, Type: Improvement

#193 Fix blocked ports to mention 25 and 587 being blocked
  lib/data/last-edited.json
  pages/docs/other/faq.js
Labels: Section: Docs, Type: FAQ, Type: Fix

#160 Add new Travis CI guide to documentation
  lib/data/docs.js
  lib/data/last-edited.json
  pages/docs/continuous-integration/index.js
  pages/docs/continuous-integration/travis.js
  pages/docs/examples/travis.js
Labels: Section: Docs, Type: Guide, work in progress
