Repository vercel/docs, pull requests merged in 2018-02, with the labels that each got.

#134 Show v3 API inside intro
  components/api/sections/getting-started/introduction.js
Labels: Type: Fix

#103 Add domain purchase `expectedPrice` field
  components/api/sections/endpoints/domains.js
  components/api/sections/errors/domains.js
Labels: Section: API, Type: Endpoint, Type: Error

#138 Document secret's name length limit
  pages/docs/features/env-and-secrets.js
Labels: Section: Docs, Type: Improvement

#135 Explain what are deployments and instances
  lib/data/docs.js
  lib/data/last-edited.json
  pages/docs/examples/travis.js
  pages/docs/other/faq.js
Labels: Section: Docs, Type: FAQ

#144 Fixed a few typos
  lib/data/last-edited.json
  license.md
  pages/docs/examples/travis.js
  pages/docs/other/faq.js
Labels: Type: Improvement
