Repository vercel/docs, pull requests merged in 2018-04, with the labels that each got.

#168 Added documentation about global scaling
  lib/data/docs.js
  lib/data/last-edited.json
  pages/docs/features/configuration.js
  pages/docs/features/scaling.js
  pages/docs/getting-started/five-minute-guide-to-now.js
Labels: Type: Guide, Type: Improvement

#170 Fixed documentation about scaling
  lib/data/last-edited.json
  pages/docs/features/configuration.js
Labels: Type: Improvement

#175 Explain inter-accounts domain transfer
  lib/data/last-edited.json
  pages/docs/other/faq.js
Labels: Section: Docs, Type: FAQ, Type: Improvement
