Repository vercel/docs, pull requests merged in 2018-03, with the labels that each got.

#145 Documented multiple Now CLI arguments
  components/table.js
  lib/data/last-edited.json
  pages/docs/features/now-cli.js
Labels: Type: Improvement

#158 Fix engines input in create deployment endpoint
  components/api/sections/endpoints/deployments.js
  lib/data/last-edited.json
Labels: Section: API, Type: Endpoint, Type: Fix

#166 Added more detailed "Restrictions" page
  lib/data/docs.js
  lib/data/last-edited.json
  pages/docs/other/billing.js
  pages/docs/other/restrictions.js
Labels: Section: Docs, Type: Improvement
