Repository vercel/docs, pull requests merged in 2019-03, with the labels that each got.

#578 Fix missing string error and adjust wording
  components/feedback-input/guides-feedback.js
  lib/data/last-edited.json
  yarn.lock
Labels: Testing

#559 Improve output of deployment in Docs Introduction
  components/docs/introduction-deploy.js
  lib/data/last-edited.json
  pages/docs/api/v2/api-docs-mdx/getting-started/introduction.js
  pages/docs/api/v2/api-docs-mdx/getting-started/introduction.mdx
  pages/docs/v2/getting-started/introduction-to-now.mdx
Labels: In Progress

#562 propose: add a link to PCRE Regex Cheatsheet for reference.
  lib/data/last-edited.json
  pages/docs/v2/deployments/configuration.mdx
  pages/docs/v2/deployments/routes.mdx
Labels: Awaiting Response

#600 Fix typo in deployments configuration
  pages/docs/v2/deployments/configuration.mdx
Labels: Category: Deployments

#611 Document `target` property for deployments
  lib/data/last-edited.json
  pages/docs/api/v2/api-docs-mdx/endpoints/deployments.mdx
Labels: Category: Deployments

#613 Added missing properties for deployment GET
  lib/data/last-edited.json
  pages/docs/api/v2/api-docs-mdx/endpoints/deployments.mdx
Labels: Category: Deployments

#608 Added documentation for `scope` property
  lib/data/last-edited.json
  pages/docs/v2/deployments/configuration.mdx
Labels: Category: Deployments

#667 Add section for Environment Variables in "Upgrading to 2.0"
  pages/docs/v2/platform/upgrade-to-2-0.mdx
Labels: Category: Platform

#661 Update developer-guide for `@now/build-utils`
  pages/docs/v2/deployments/builders/developer-guide.mdx
Labels: Category: Builders

#672 Fix typo in developer-guide
  pages/docs/v2/deployments/builders/developer-guide.mdx
Labels: Category: Platform
