Repository vercel/docs, pull requests merged in 2019-04, with the labels that each got.

#669 Add region for `now dev` called dev1
  pages/docs/v2/platform/regions-and-providers.mdx
Labels: Category: Platform, In Progress

#722 Initialize deploying-charge-with-now guide
  pages/guides/deploying-charge-with-now.mdx
Labels: Section: Guides

#753 Add status to @now/bash builder
  pages/docs/v2/deployments/official-builders/bash-now-bash.mdx
Labels: Category: Builders

#761 Update node-js-now-node.mdx
  pages/docs/v2/deployments/official-builders/node-js-now-node.mdx
Labels: Category: Builders, Type: Bug

#763 Documented new Builder API changes
  pages/docs/v2/deployments/builders/developer-guide.mdx
Labels: Category: Builders

#765 Document `fsPath` as absolute path
  pages/docs/v2/deployments/builders/developer-guide.mdx
Labels: Category: Builders

#772 Builders - Including Additional Files
  pages/docs/v2/deployments/builders/overview.mdx
Labels: Category: Builders

#777 Update go example to reflect our latest improvement for `@now/go`
  pages/docs/v2/deployments/official-builders/go-now-go.mdx
Labels: Category: Builders, Type: Improvement
