Repository vercel/docs, pull requests merged in 2019-07, with the labels that each got.

#958 Use `package.json` entrypoint in `@now/next`
  pages/docs/v2/deployments/official-builders/next-js-now-next.mdx
Labels: Category: Builders

#962 Use proxy rather than rewrite for clarification
  pages/docs/v2/deployments/routes.mdx
Labels: Category: Routing

#972 Add note about index.html routing
  pages/docs/v2/routing/directory-listing.mdx
Labels: Category: Routing

#978 Deprecate `@now/node-server` builder
  pages/docs/v2/deployments/official-builders/node-js-server-now-node-server.mdx
Labels: Category: Builders

#982 Deprecate several builders
  pages/docs/v2/deployments/official-builders/html-minifier-now-html-minifier.mdx
  pages/docs/v2/deployments/official-builders/markdown-now-md.mdx
  pages/docs/v2/deployments/official-builders/mdx-deck-now-mdx-deck.mdx
  pages/docs/v2/deployments/official-builders/optipng-now-optipng.mdx
Labels: Category: Builders

#984 Add `continue` to configuration
  pages/docs/v2/deployments/configuration.mdx
Labels: Category: Deployments, Category: Routing

#985 Remove maxLambdaSize config
  pages/docs/v2/deployments/builders/overview.mdx
  pages/docs/v2/deployments/concepts/lambdas.mdx
  pages/docs/v2/deployments/official-builders/bash-now-bash.mdx
  pages/docs/v2/deployments/official-builders/go-now-go.mdx
  pages/docs/v2/deployments/official-builders/next-js-now-next.mdx
  pages/docs/v2/deployments/official-builders/node-js-now-node.mdx
  pages/docs/v2/deployments/official-builders/node-js-server-now-node-server.mdx
  pages/docs/v2/deployments/official-builders/now-rust.mdx
  pages/docs/v2/deployments/official-builders/php-now-php.mdx
  pages/docs/v2/deployments/official-builders/python-now-python.mdx
  pages/docs/v2/deployments/official-builders/ruby-now-ruby.mdx
Labels: Category: Builders

#999 Update Builders overview wording to suggest that any backend language can be used
  pages/docs/v2/deployments/builders/overview.mdx
Labels: Category: Builders

#1003 Enhance typescript docs for `@now/node` builder
  pages/docs/v2/deployments/official-builders/node-js-now-node.mdx
Labels: Category: Builders

#1004 Remove deprecated builders from list
  pages/docs/v2/deployments/official-builders/overview.mdx
Labels: Category: Builders

#1020 Improved documentation for missing public directory
  pages/docs/v2/advanced/platform/frequently-asked-questions.mdx
Labels: Type: Improvement

#1021 Improved warning for missing build script
  pages/docs/v2/advanced/platform/frequently-asked-questions.mdx
Labels: Type: Improvement

#1030 Enhance docs for `@now/node` entrypoint
  pages/docs/v2/advanced/builders/node-js-now-node.mdx
Labels: Category: Builders
