Repository vercel/docs, pull requests merged in 2019-06, with the labels that each got.

#874 [now-rust] Update information about rust version
  pages/docs/v2/deployments/official-builders/now-rust.mdx
Labels: Category: Builders

#901 Add docs for `now-build` in `@now/next`
  pages/docs/v2/deployments/official-builders/next-js-now-next.mdx
Labels: Category: Builders

#905 Document default behavior in routes.
  pages/docs/v2/deployments/routes.mdx
Labels: Category: Deployments, Section: Docs, Type: Improvement

#911 Mongo Guide: Do not recommend installing `now` via `yarn`
  pages/guides/deploying-a-mongodb-powered-api-with-node-and-now.mdx
Labels: Section: Guides

#571 add INTERNAL_INVALID_LAMBDA_ACCOUNTS error
  lib/data/last-edited.json
  pages/docs/v2/routing/status-codes.mdx
Labels: Awaiting Response

#899 Add @now/node helpers documentation
  pages/docs/v2/deployments/official-builders/node-js-now-node.mdx
  pages/guides/deploying-a-mongodb-powered-api-with-node-and-now.mdx
  pages/guides/deploying-next-and-mysql-with-now.mdx
Labels: Category: Deployments, Section: Docs

#934 Add nodejs10.x
  pages/docs/v2/deployments/builders/developer-guide.mdx
  pages/docs/v2/deployments/official-builders/next-js-now-next.mdx
  pages/docs/v2/deployments/official-builders/node-js-now-node.mdx
  pages/docs/v2/deployments/official-builders/node-js-server-now-node-server.mdx
  pages/docs/v2/deployments/official-builders/static-build-now-static-build.mdx
Labels: Category: Builders

#941 Add ruby docs
  lib/data/v2/docs.js
  pages/docs/v2/deployments/official-builders/ruby-now-ruby.mdx
Labels: Category: Builders

#942 Add section ASGI for `@now/python`
  pages/docs/v2/deployments/official-builders/python-now-python.mdx
Labels: Category: Builders

#950 Add `NPM_RC` build environment variable
  pages/docs/v2/deployments/official-builders/next-js-now-next.mdx
  pages/docs/v2/deployments/official-builders/node-js-now-node.mdx
  pages/docs/v2/deployments/official-builders/node-js-server-now-node-server.mdx
  pages/docs/v2/deployments/official-builders/static-build-now-static-build.mdx
Labels: Category: Builders

#944 [@now/static] Add instructions for publishing a subfolder and routing
  pages/docs/v2/deployments/official-builders/static-now-static.mdx
Labels: Category: Builders
