Repository vercel/docs, pull requests merged in 2019-09, with the labels that each got.

#1204 Improve docs for `@now/go`
  pages/docs/v2/advanced/builders.mdx
Labels: Section: Docs

#1234 Add `GO_BUILD_FLAGS` docs in Go advanced section
  pages/docs/v2/advanced/builders.mdx
  pages/docs/v2/advanced/configuration.mdx
Labels: Section: Docs

#1258 Add `@now/node` AWS API
  pages/docs/v2/advanced/builders.mdx
Labels: Category: Advanced

#1274 Replaced docs for Custom Domains with UI instructions
  pages/docs/v2/custom-domains.mdx
  public/sitemap.xml
  static/docs/custom-domains/enter-domain.png
  static/docs/custom-domains/select-domains.png
  static/docs/custom-domains/select-project.png
  static/docs/custom-domains/verified-domain.png
  static/docs/custom-domains/verify-domain.png
  static/docs/custom-domains/wildcard-domains.png
Labels: work in progress

#1279 Update ruby version to 2.5.5
  pages/docs/v2/advanced/builders.mdx
Labels: Category: Advanced

#1299 Fix typo for `max-age` caching headers
  pages/docs/v2/network/caching.mdx
Labels: Category: Network

#1298 Add example of `__dirname`
  pages/docs/v2/advanced/builders.mdx
Labels: Category: Advanced
