Repository vercel/docs, pull requests merged in 2019-05, with the labels that each got.

#766 Add headers with req/res
  pages/docs/v2/routing/headers.mdx
Labels: Category: Routing

#788 Add NOW_REGION to FAQ
  pages/docs/v2/development/frequently-asked-questions.mdx
Labels: Category: Deployments

#784 Add docs explaining WSGI for Python
  pages/docs/v2/deployments/official-builders/python-now-python.mdx
Labels: Category: Builders

#795 Add Python version that is being used
  pages/docs/v2/deployments/official-builders/python-now-python.mdx
Labels: Category: Builders

#796 Update `go.mod` highlight
  pages/docs/v2/deployments/official-builders/go-now-go.mdx
Labels: Category: Builders

#807 Update python status to beta
  pages/docs/v2/deployments/official-builders/python-now-python.mdx
Labels: Category: Builders

#815 Changing timeouts in documentation.
  pages/docs/v2/deployments/builders/overview.mdx
  pages/docs/v2/deployments/builds.mdx
  pages/docs/v2/deployments/concepts/lambdas.mdx
Labels: Type: Bug

#846 Added global config prop for metrics
  pages/docs/v2/platform/global-configuration.mdx
Labels: Section: Docs

#837 Update docs regarding new support for private git `go get`
  pages/docs/v2/deployments/official-builders/go-now-go.mdx
Labels: Category: Builders

#871 Add section for Builder Versioning
  pages/docs/v2/deployments/builders/overview.mdx
Labels: Category: Builders

#872 Fix typo in Builders docs
  pages/docs/v2/deployments/builders/overview.mdx
Labels: Category: Builders
